html * {
    font-family: Arial, Helvetica, sans-serif;
}

p, li, td {
    font-size: 13px;
}

th, td, tr {
    padding: 10px 0px 3px 10px;
}

li {
    padding: 10px;
}

th {
    font-size: 13px;
}

body {
    margin: 0
}

.entire, .feet {
    height: 50%;
    width: 50%;
    margin: 0 auto
}


table {
    text-align: left;
}

.websitey {
    text-align: left;
    float: left;
}

.email {
    text-align: right;
    float: right;
}